<script src="https://unpkg.com/htmx.org@1.9.6"></script>
<article class="album">
    <figure>
        <img src="{{ album.thumbnails[-1].url }}" alt="album art" height="200">
    </figure>
    <div>
        <form hx-post="/download">
            <input type="hidden" name="audioPlaylistId" value="{{ album.audioPlaylistId }}">
            <input type="hidden" name="thumbnailUrl" value="{{ album.thumbnails[-1].url }}">
            <input type="text" name="title" value="{{ album.title }}">
            by
            <input type="text" name="artist" value="{{ album.artists[0].name }}">
            <a href="/artist?id={{ album.artists[0].id }}">Go to Artist</a>
            <input type="text" name="year" value="{{ album.year }}">
            <button type="submit">Download</button>
            <details open>
                <summary>{{ album.trackCount }} Tracks</summary>
                <ul>
                    {% for track in album.tracks %}
                        <li>
                            <input type="hidden" name="id.{{ loop.index }}" value="{{ track.videoId }}">
                            <input type="checkbox" name="enable.{{ loop.index }}" checked>
                            <input type="text" name="track-number.{{ loop.index }}" value="{{ loop.index }}" size="3" style="text-align: right">
                            <input type="text" name="title.{{ loop.index }}" value="{{ track.title }}" size="30">
                            <span>{{ track.duration }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </details>
            <br>
        </form>
    </div>
</article>