<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album Stealer 5000</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.2">
</head>
<style>
    .album {
        display: grid;
        grid-template-columns: 20vh max-content;
        grid-gap: 1em;
    }

    .album-art {
        max-height: 20vh;
    }

    li {
        list-style: none;
    }

    .downloading-track {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
        gap: 3px;
    }

    .column {
        height: 100vh;
        overflow-y: scroll;
    }

    input {
        display: inline;
    }
</style>
<body>
<script src="https://unpkg.com/htmx.org@1.9.6"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

<div style="display: flex; justify-content: space-between">
<div class="column" style="flex-grow: 1">
    <h1>Album stealer 5000</h1>
    <form action="/search" method="get">
        <label for="search-box">Search albums: </label>
        <input id="search-box" name="query" value="{% block query %}{% endblock %}">
        <button>Search</button>
    </form>
    <hr>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="column" style="max-width: 35%">
    <h2>Downloads:</h2>
    <div id="downloads" hx-ext="ws" ws-connect="/downloads">
        <ul id="download-list"></ul>
    </div>
</div>
</div>
</body>
</html>